:root{
    --darkblue : #161D6F; 
    --darkorange : #E46232;
}

*{
    padding: 0;
    margin: 0;
}

#logo{
    padding: 10px 10px 10px 10px ;
}

#logo img{
      width: 205px;
      height: 107px;  
}

#nav_list{
    margin: 30px 0px 30px 0px;
    padding: 20px 0px 30px 0px;
    /* border: 1px solid; */
}

#nav_list ul li{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 10px;
}

#nav_list ul li a{
    text-decoration: none;
    font-family: poppins;
    font-size: 19;
    font-weight: 700;
    color: #000000;
}

#nav_list ul li a:hover{
    border-bottom: solid 3px;
    color: var(--darkblue);
}

#logout_butt{
    margin: 47px 0px 30px 0px;
    border: 1px solid #161D6F;
    width: 184px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
}

.custom-container {
    max-width: 1450px; 
}

#logout_butt:hover{
    background-color:var(--darkblue);    
    color: #fff;
}

.custom-container {
    max-width: 1450px; 
}

#logout_butt:hover{
    background-color:var(--darkblue) ;    
}

#logout_butt a:hover{
    color: white;
}

#input_post img{
    width: 75px;
    height: 50px;
    border-radius: 50%;
}

#main_content{
    display: grid;
    gap: 10px;
    grid-template-columns: 65% 35%;
    /* grid-template-rows:60px 70%; */
    height: 100vh;
}

.add_job{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}
.worker_details{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    grid-row: span 2;
    padding: 0px !important;
}
.page_content{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    grid-row: span 2;
    height:1000px;
    overflow-y: scroll;
}

.dp_photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dp_photo{
    padding: 5px 0px 0px 5px;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

.custom-input{
    width:90%;
    height: 30px;
    margin: 10px;
    border: #6363633f 1px solid;
    border-radius: 5px;
}

.worker_details{
    /* border: 1px solid; */
    justify-content: center;
    display: flex;
    padding: 50px ; 
    overflow-y: auto;
    height: 100%;
}


.icon1 {
    border: red 1px solid;
}

.detail_text #text_gd2{
    text-align: center;
    font-family: poppins;
    color: #636363;
}

#post_something{
    height: 46px;
    margin:0px;
}

.content-header{
    margin: 23px 0px 0px 0px;
    /* border: 1px solid; */
}

.page_content{
    /* border: 1px solid; */
}

.content-filter{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    margin: 7px;
}

.content-filter button{
    width: 99px;
    height: 34px;
    background-color: var(--darkblue);
    color: #fff;
    border: none;
    font-family: poppins;
    text-align: center;
    white-space: nowrap;
    
}

.col-2{
    /* border: 1px solid; */
}

.seek-worker{
    display: flex;

}

.seek-worker button{
    height: 42px;
    width: 113px;
    font-family: poppins;
    font-size: 19px;
    color: #fff;
    border: none;
    background-color: var(--darkorange);
    margin: 3px;
    white-space: nowrap;
}

.col-7{
    /* border: 1px solid; */
}

#freelance-search{
    width: 100%;
    height: 46px;
    margin: 0px 17px;
    font-family: poppins;
    color: #5A5A5A;
    font-size: 19px;
    border-radius: 3px;
    border: #949494 1px solid;
}

.title-section{
    /* border: 1px solid; */
    margin: 25px 0px 0px 0px;
    padding: 0px 35px;
    /* font-family: montseratt; */
    font-size: 24px;
    font-weight: 500;
}

#content-title{
    /* border: 1px solid; */
}

#content-title p{
    border: 1px solid;
}

.job-card{
    /* border: 1px solid; */
    margin: 0px 0px 0px 0px;
}


.job-card a{
    text-decoration: none;
}

.job-card #my-offer{
    height: 250px;
    max-width: 100%;
    /* margin-left:30px ; */
    margin: 0px 30px;
}



.job-card #my-offer img{
    border-radius:50%;
    width: 80px;
    height: 80px;
    margin: 25px 15px 15px;
    
}

#my-offer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    font-size: 14px;
    max-width: 100%;

}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.profile-info {
    display: flex;
    max-width: 100%;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details h3 {
    margin: 0;
    font-size: 18px;
}
.details-client h3 {
    margin: 0;
    font-size: 18px;
}

.details p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}
.details-client p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.job-dates {
    text-align: right;
}

.job-dates p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.menu{
    font-size: 16px;
    color: var(--darkblue);
    cursor: pointer;
}

.check-menu {
    font-size: 16px;
    color: #FF8787;
    cursor: pointer;
    font-weight: 500;
    font-family: inter;
}


.job-body {
    margin-bottom: 15px;
}

.info p {
    margin: 5px 0;
    color: #6E6E6E;
}

.skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
}

.skills p {
    margin: 0 0 5px;
    font-weight: bold;
}

.skills-available {
    margin-top: 10px;
    display: flex;
    white-space: nowrap;
    gap: 8px; 
}


.skill-tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
}

.skill-tag.green {
    background-color: #D9FFCB;
    color: #000000;
}

.skill-tag.purple {
    background-color: #D8CBFF;
    color: #000000;
}

.job-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.job-footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
}

.recommended-workers{
    font-family: mondseratt;
    font-size: 24px;
}

.recommended-card{
    margin: 0px 0px 0px 0px;
    /* border: 1px solid; */
}
.recommended-card #my-offer{
    height: 100%;
    max-width: 100%;
    /* margin-left:30px ; */
    margin: 0px 30px;
}

.recommended-card #my-offer img{
    border-radius:50%;
}

.skill-tag.yellow{
    background-color: #F1FFCB;
    color: #000000;
}

.recommendation{
    display: grid;
    grid-gap: 10px;
}

.other-offer{
    margin: 0px 0px 0px 0px;
}

.other-offer #my-offer{
    height: 250px;
    max-width: 100%;
    /* margin-left:30px ; */
    margin: 0px 30px 15px;
}

.job-card #my-offer img{
    border-radius:50%;
    width: 80px;
    height: 80px;
    margin: 25px 15px 15px;
    white-space: nowrap;
}

.recommended-card a{
    text-decoration: none;
}

.worker_detail_header{
    /* border: 1px solid red; */
    width: 100%;
    margin: 30px 20px;
}

.skills-worker-details{
    margin: 20px 20px -10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px; 
}


.skills-worker-details p{
    color: black;
    font-family: inter;
    font-size: 17px;
    /* border: 1px solid red; */
}

.skills-available-details{
    margin-left: 20px;
    /* border: 1px solid red; */
}

.worker-info{
    /* border: 1px solid red; */
    /* margin-left: -5px; */
    margin-top: 10px;
}

.worker-info h3{
    font-family:poppins ;
    color: #595959;
    font-weight: bold;
    font-size: 32;
}

.full-details{
    color: #595959;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 0;
    margin:10px 0px 25px;
}

.full-details p{
    margin: 0;
    font-family: inter;
    font-weight: medium;
    font-size: 19;
}

.contacts{
    color: #595959;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 0;
    margin:10px 0px;
}

.contacts p{
    margin: 0;
    font-family: inter;
    font-weight: medium;
    font-size: 19;
}

#phone_no{
    margin: 15px;
}

.email_butt{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
    padding: 10px;
}

.email_butt button{
    height: 50px;
    width: 200px;
    background-color: var(--darkblue);
    color: #fff;
    border: none;
    flex-wrap: wrap;
    margin: 0 auto; 
}

.short-info-container{
    margin: 10px 10px;
}
.short-info{
    display: flex;
    flex-direction: row;
}

.short-info p{
    padding-left: 20px;
    color: #5A5A5A;
}
.short-info img{
    width: 25px; 
    height: 25px;
}

.no-ex{
    margin: 10px 20px;
}

.responsibilities h3{
    font-size: 17px;
    font-weight: 500;
    font-family: inter;
}

.responsibilities ol{
    color: #767676;
    font-family: poppins;
    font-size: 16px;
}

.report-menu {
    font-size: 16px;
    color: #FF8787;
    cursor: pointer;
    font-weight: 500;
    font-family: inter;
    /* border: 1px solid; */
    margin-left: 30px;
    display: flex;
}

.feedback-header{
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    width: 100%;
}

.feedback-header h3{
    margin-top: 10px;
}

 .star-rating{
    margin-left: 10px;
    display: flex;
    font-size: 24px; 
    color: #ccc; 
    cursor: pointer;
    max-width: 100%;
    flex-wrap: nowrap;
    transition: color 0.2s;
}
.star:hover{
    color: gold;
}

.star.selected{
    color: gold;
}



.details-client .details-client h3{
    font-size: 16px;
}

.details-client{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    /* box-sizing: border-box; */
    /* border: 1px solid; */
    /* max-width: 100%; */
}

.rate{
    display: flex;
    justify-content: end;
}

.rate a{
    text-decoration: none;
    color: var(--darkblue);
    font-family: poppins;
    font-size: small;
}

.details-client, .feedback-header {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
  }

.reportModalLabel{
    text-align: center;
    justify-content: center;
    display: flex;
}

.reason-buttons{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.reason-buttons #reasons{
    border-radius: 24px;
    height: 50px;
    width: 149px;
    border: #EBEBEB 1px solid;
    font-weight: bold;
    background-color: #fff;
}
.reason-buttons #reasons-l{
    border-radius: 24px;
    border: #EBEBEB 1px solid !important;
    font-weight: bold;
    background-color: #fff;
}

.reason-buttons #reasons:hover{
    border-radius: 24px;
    height: 50px;
    width: 149px;
    border: #EBEBEB;
    font-weight: bold;
    color: #fff;
    background-color: var(--darkblue);
}
.reason-buttons #reasons.selected{
    border-radius: 24px;
    height: 50px;
    width: 149px;
    border: #EBEBEB;
    font-weight: bold;
    color: #fff;
    background-color: var(--darkblue);
}

.reason-buttons #reasons-l:hover{
    height: 50px;
    width: 314px;
    border: #EBEBEB;
    font-weight: bold;
    border-radius: 24px;
    color: #fff;
    background-color: var(--darkblue);
}

.reason-buttons #reasons-l{
    height: 50px;
    width: 314px;
    border: #EBEBEB;
    font-weight: bold;
    border-radius: 24px;
}

.modal-body h6{
    color: red;
    margin: 30px;
}

.message-report{
    color: red;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#upload-proof{
    width: 306px;
    height: 63px;
    align-items: center;
    border: none;
    background-color: #161D6F;
    color: white;
}
.button-proof{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#upload-modal{
    padding: 50px;
}

.upload-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* border: 1px solid; */
}

.upload-container span{
    margin-top: 20px;
}

.upload-border{
    border:dashed 1px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 70%;
    margin-top: 30px;
    height: 300px;
}

.upload-border img{
    width: 140px;
    height: 140px;
}

.req{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
   
}

.upload-inf-head{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /* border: 1px solid; */
}
.upload-info{
    /* background-color: #F4F4F4; */
    display: flex;
    flex-direction: row;
}

.upload-info .upload-inf-head img{
    width: 40px;
    height: 40px;
}

.file-info{
    /* background-color: #F4F4F4; */
   
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.buttons-modal{
    margin-top: 20px;
    justify-content: end;
    display: flex;
    gap: 20px;
}

.buttons-modal button{
    width: 205px;
    height: 60px;
}

#cancel-butt{
    border: #161D6F 1px solid;
    color: #161D6F;
    background-color: #fff;
}
#submit-butt{
    border: #161D6F 1px solid;
    color: #fff;
    background-color: #161D6F;
}
  @media only screen and (max-width: 982px){
    .report-menu{
        font-size: 14px;
        margin-left: 10px;
    }
  }

  @media only screen and (max-width: 912px){
    .report-menu{
        font-size: 12px;
        margin-left: 5px;
    }
  }
  @media only screen and (max-width: 878px){
    .report-menu{
        font-size: 10px;
        margin-left: 5px;
    }
  }