@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
}
input, .btn{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}
input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

*{
  margin: 0px;
  padding: 0px;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  

/* 

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

// USED
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

// USED
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// USED
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

// USED
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/

.button-midblue{
    color: #ffff;
    background-color: #161D6F;
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border: #161D6F 2px solid;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.button-midblue:hover, .button-white:hover{
    background-color: #ffff;
    color: #161D6F;
}

.swiper {
  width: 600px;
  height: 500px;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


#logo img{
  width: 205px;
  height: 107px;
}

.links, .logout-btn{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#nav_list > ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}


#nav_list > ul > li > a{
font-family: poppins;
font-size: 19;
font-weight: 700;
color: #000000;
}

#nav_list > ul > li > a:hover{
border-bottom: solid 3px;
color: var(--darkblue);
}

#logout_butt{
border: 1px solid #161D6F;
width: 184px;
height: 50px;
text-align: center;
background-color: #fff;
border-radius: 3px;
color: #000000;
font-family: poppins;
font-weight: bold;
font-size: 18px;
}

#logout_butt a{
text-decoration: none;
color: #000000;
}

#logout_butt:hover{
  background-color:var(--darkblue);    
  color: #fff;
}


input{
  border-color: #ced4da !important;
}

textarea, input, select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da !important; /* Optional: set to default border */
}


.h-50px { height: 50px !important; }

.h-100px { height: 100px !important; }

.h-150px { height: 150px !important; }

.h-200px { height: 200px !important; }

p, input, button{
  margin: 0px;
}

#applicant_count, #year_experience{
  width: 15%;
  text-align: center;
}


.swal2-input {
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 12px;
  margin: 0px;
  box-sizing: border-box;
}

