:root{
    --darkblue : #161D6F; 
    --darkorange : #E46232;
}


body{
    overflow: hidden;
}

#input_post img{
    width: 75px;
    height: 50px;
    border-radius: 50%;
}


.main-content{
    /* border: 1px solid ; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px; 
    max-height: 100%;
}

.profile-content{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    /* border: 1px solid; */
    padding-left: 40px;
    padding-right: 50px;
}

.client-photo{
    display: flex;
    flex-direction: row;
}

.client-photo img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.name-title{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    /* border: 1px solid; */
}

.name-title span{
    font-family: poppins;
    font-size: 24px;
    font-weight: 500;
    color: #000432;
}

.name-title h6{
    font-family: poppins;
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}

.client_id{
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* border: 1px solid; */
}

.client_id span{
    font-size:smaller;
    font-weight:500;
    font-family: poppins;
    color: #767676;
    font-size: 16px;
}

.profile-nav{
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    border-bottom: 2px solid #DADADA;
    margin-top: 30px;
    gap: 20px;
}

.profile-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.profile-nav a{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    /* border: 1px solid; */
    color: #767676;
    margin-bottom: 20px;
}

.profile-nav a:hover{
    border-bottom: 2px solid #000432;
}

.create-header{
    /* border: 1px solid; */
    flex-direction: row;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

#active-nav {
    color: var(--darkblue);
    font-weight: bolder;
}

.full-content{
    max-width: 75%;
    height: 850px;
    overflow-y: hidden;
    overflow-y: scroll;
}
.full-content::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
}

.about-us{
    margin-top: 10px;
}

.about-us span{
    color: var(--darkblue);
    font-family: Montserrat;
    font-weight:bold ;
    font-size: 18px;
    margin-top: 25px;
    /* border: 1px solid; */
}


.about-us-content{
    color: #646464;
    font-family: poppins;
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}
.address{
    margin-top: 40px;
}

.address span{
    color: var(--darkblue);
    font-family: Montserrat;
    font-weight:bold ;
    font-size: 18px;
    margin-top: 25px;
    /* border: 1px solid; */
}

.header1-content{
    border-bottom: 1px solid;
    padding-top: 50px;
    margin-top: 20px;
    border-color: #CCCCCC;
}

#acc_sett{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #000432;
}

#sub-text{
    font-weight: 600;
    font-size: 16px;
    color: #000432;
    font-family: montseratt;
}

.header-2{
    /* border:1px solid; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
}

.header-left img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.header-left-title{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    justify-content: center;
    padding-left: 20px;
}

#uname{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #000432;
}

#id-num{
    font-family: Poppins;
    font-size: 16px;
    color: #646464;
}

.header-right{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button-upload button{
    color: #646464;
    border: #d7d7d7 1px solid ;
    background-color: #F4F4F4;
    border-radius: 3px;
    height: 36px;
    font-family: poppins;
    font-weight: 500;
}

.statement-down span{
    color: #D14848;
    font-weight: 500;
    font-size: 12px;
    font-family: poppins;
}

.section-1{
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left:10px ;
}

.section-1 span{
    color: #000432;
    font-weight: bold;
    font-family: poppins;
}

.name-reg .col{
    color: #646464;
    font-size: 16px;
    font-family: poppins;
}

.name-reg{
    border-bottom: 1px solid ;
    color: #CCCCCC;
    padding-bottom: 50px;
}

.section-2{
    /* border: 1px solid; */
    margin-top: 50px;
    margin-left:10px ;
}

.section-2 span{
    color: #000432;
    font-weight: bold;
    font-family: poppins;
}

.c-email span{
    color: #646464;
    font-family: poppins;
    font-size: 16px;
    margin-left: 10px;
}

.email-reg .col{
    color: #646464;
    font-size: 16px;
    font-family: poppins;
}

.email-reg{
    border-bottom: 1px solid ;
    color: #CCCCCC;
    padding-bottom: 50px;
    margin-top: 20px;
}

.button-email{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.button-email button{
    color: #646464;
    border: #d7d7d7 1px solid ;
    background-color: #F4F4F4;
    border-radius: 3px;
    height: 36px;
    font-family: poppins;
    font-weight: 500;
}

.section-3{
    /* border: 1px solid; */
    margin-top: 50px;
}

.section-3 span{
    color: #000432;
    font-weight: bold;
    font-size: 18px;
    font-family: poppins;
}

.pass-reg .col{
    color: #646464;
    font-size: 16px;
    font-family: poppins;
}

.pass-reg{
    color: #CCCCCC;
    padding-bottom: 50px;
    margin-top: 20px;
}

.content-footer{
    display: flex;
    justify-content: end;
}

.content-footer button{
    width: 84px;
    height: 36px;
    border-radius: 3px;
    border: #D7D7D7;
    background: #EDEDED;
    color: #646464;
    font-family: poppins;
    font-weight: 600;
}