:root{
    --darkblue : #161D6F; 
    --darkorange : #E46232;
}

body{
    overflow-y: hidden;
}

#logo{
    padding: 10px 10px 10px 10px ;
}

#logo img{
      width: 205px;
      height: 107px;  
}

#nav_list{
    margin: 30px 0px 30px 0px;
    padding: 20px 0px 30px 0px;
    /* border: 1px solid; */
}

#nav_list ul li{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 10px;
}

#nav_list ul li a{
    text-decoration: none;
    font-family: poppins;
    font-size: 19;
    font-weight: 700;
    color: #000000;
}

#nav_list ul li a:hover{
    border-bottom: solid 3px;
    color: var(--darkblue);
}

#logout_butt{
    margin: 47px 0px 30px 0px;
    border: 1px solid #161D6F;
    width: 184px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
}

#logout_butt a{
    text-decoration: none;
    color: #000000;
}

#logout_butt:hover{
    background-color:var(--darkblue);    
    color: #fff;
}



#input_post img{
    width: 75px;
    height: 50px;
    border-radius: 50%;
}


.main-content{
    /* border: 1px solid ; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px; 
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}

.settings-container{
    display: flex;
    justify-content: right;
}

.settings-container img{
    margin: 30px;
}

.profile-content{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    /* border: 1px solid; */
    padding-left: 40px;
    padding-right: 50px;
}

.client-photo{
    display: flex;
    flex-direction: row;
}

.client-photo img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.name-title{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    /* border: 1px solid; */
}

.name-title span{
    font-family: poppins;
    font-size: 24px;
    font-weight: 500;
    color: #000432;
}

.name-title h6{
    font-family: poppins;
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}

.client_id{
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* border: 1px solid; */
}

.client_id span{
    font-size:smaller;
    font-weight:500;
    font-family: poppins;
    color: #767676;
    font-size: 16px;
}

.profile-nav{
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    border-bottom: 2px solid #DADADA;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
    
}

.profile-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.profile-nav a{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    /* border: 1px solid; */
    color: #767676;
    margin-bottom: 20px;
    white-space: nowrap;
}

.profile-nav a:hover{
    border-bottom: 2px solid #000432;
}

.create-header{
    flex-direction: row;
    display: flex;
    align-items:right;
    margin-top: 20px;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: right;
    /* border: 1px solid; */
}


#active-nav {
    color: var(--darkblue);
    font-weight: bolder;
}

.full-content{
    max-width: 75%;
    height: 850px;
    overflow-y: hidden;
    overflow-y: scroll;
    padding-bottom: 50px;
}
.full-content::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
}

.about-us{
    margin-top: 10px;
}


.info-profile{
   
}

.info-title{
    margin-left: 15px;
}

.info-count{
    margin-right: 15px;
}

.card-header{
    width: 194px;
    height: 44px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-color: #E0E0E0;
    background-color: #F8F8F8;
    color: #767676;
    border-radius: 0px;
    max-width: 100%;
}

.card-holder{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#card-title{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
}

#card-count{
    margin-left: 10px;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
}
.about{
    margin-top: 0px;
}

.about span{
    font-family: poppins;
    font-weight: 600;
    font-size: 19px;
    color: #646464;
}

.my-skills span{
    font-family: poppins;
    font-weight: 600;
    font-size: 19px;
    color: #646464;
}

.resume-details{
    border-left: 2px red solid;
}

.resume span{
    font-family: poppins;
    font-weight: 600;
    font-size: 19px;
    color: #646464;
}

.aboutText, .addedSkills{
    color: #646464;
    margin-top: 20px;
    margin-left: 15px;
}

.resume-details{
    background-color: #dbdbdb36;
    height: 61px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.resume-right .download span{
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}
.resume-right .download img{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}
.resume-right .update span{
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}
.resume-right .update img{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 9px;
}
.personal-info li{
    font-weight: 500;
}
.personal-info span{
    font-family: poppins;
    font-weight: 400;
    color: #646464;

}

.personal-info{
    margin-top: 35px;
}

.download:hover{
    cursor: pointer;
}
.update:hover{
    cursor: pointer;
}

.resume-right .update{
    display: flex;
}

.personal-info ul{
    color: #646464;
}

.resume-right{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    padding: 20px;
    justify-content: space-between;
}
.resume-left{
    display: flex;
}

.resume-file{
    display: flex;
    flex-direction: column;
}

.resume-file #file-name{
    color: #383838;
    font-size: 16px;
    font-weight: bold;
    font-family: poppins;
}
.resume-file #file-size{
    color: #767676;
    font-size: 15px;
    font-weight: 500;
    font-family: poppins;
}

.resume-right .download{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 10px;
    border-right: 1px solid #DEDEDE;
    padding-right: 20px;
}

#input_post img{
    width: 75px;
    height: 50px;
    border-radius: 50%;
}
.add_job{
    margin-top: 20px;
}
.dp_photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dp_photo{
    padding: 5px 0px 0px 5px;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}

.custom-input{
    width:100%;
    height: 30px;
    margin: 10px;
    border: #6363633f 1px solid;
}

.name-title img{
    width: 20px;
    height: 20px;
}

.custom-container {
    max-width: 1450px; 
}

.job-card{
    /* border: 1px solid; */
    margin-top: 30px;
}

.job-card #myoffer a{
    text-decoration: none !important;
}

.job-card #my-offer{
    height: 250px;
    max-width: 100%;
    /* margin-left:30px ; */
    margin: 0px 30px;
    text-decoration: none;
}

.skills #my-offer a{
    text-decoration: none;
    color: #000000;
}
.job-card #my-offer img{
    border-radius:50%;
    width: 80px;
    height: 80px;
    margin: 25px 15px 15px;
    
}

.completed-sign{
    margin-top: 10px;
}
.job-body .completed-sign span{
    color: #82CD67;
}

#my-offer {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px;
    margin: 20px 0;
    font-size: 14px;
    margin-top: 50px;
}


.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
   
}

.profile-info {
    display: flex;

}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details h3 {
    margin: 0;
    font-size: 18px;
}

.details p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.job-dates {
    text-align: right;
}

.job-dates p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.menu {
    font-size: 18px;
    color: var(--darkblue);
    cursor: pointer;
}


.job-body {
    margin-bottom: 15px;
}

.info p {
    margin: 5px 0;
    color: #6E6E6E;
}

.skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    margin-left: 20px;
}

.skills p {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 17px;
    color: #313131;
}

.skill-tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;

}

.skill-tag span{
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.skill-card {
    justify-content: row;
    display: flex;
    gap: 10px;
    height: 36px;
    width: 101px;
    text-align: center;
}

.button-add-info{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.button-add-info button{
    width: 200px;
    height: 64px;
    margin-top: 50px;
    background-color: #F6F6F6;
    border: #BDBDBD;
}



.skill-card span{
    font-size: 12px ;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}

.skill-tag.green {
    background-color: #D9FFCB;
    color: #000000;
}

.skill-tag.purple {
    background-color: #D8CBFF;
    color: #000000;
}

.job-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    white-space: nowrap;
}

.job-footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
}

.see-more{
    margin-top: 20px;
    font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    color: #767676;
}

.comp-review{
    margin-top: 50px;
}

.comp-review span{
    font-family: poppins;
    font-weight: bold;
    font-size: 19px;
    color: var(--darkblue);
}

.feedback-header{
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    width: 100%;
}

.feedback-header h3{
    margin-top: 10px;
}

 .star-rating{
    margin-left: 10px;
    display: flex;
    font-size: 24px; 
    color: #ccc; 
    cursor: pointer;
    max-width: 100%;
    flex-wrap: nowrap;
    transition: color 0.2s;
}
.star:hover{
    color: gold;
}

.star.selected{
    color: gold;
}



.details-client .details-client h3{
    font-size: 16px;
}

.details-client{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    justify-content: space-between;

    /* box-sizing: border-box; */
    /* border: 1px solid; */
    /* max-width: 100%; */
}

.rate{
    display: flex;
    justify-content: end;
}

.rate a{
    text-decoration: none;
    color: var(--darkblue);
    font-family: poppins;
    font-size: small;
}

.details-client, .feedback-header {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
  }

  .report-menu {
    font-size: 16px;
    color: #FF8787;
    cursor: pointer;
    font-weight: 500;
    font-family: inter;
    /* border: 1px solid; */
    display: flex;
}



.rate-header{
    display: flex;
    flex-direction: row;
}

.work-history{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 150px;
}
.work-history span{
    text-align: left;
    color: #646464;
    font-family: poppins;
    font-size: 16px;
    font-weight: bold;
}


.skill-tag {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
}

.skill-tag1 {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    color: #1f1f1f;
  }
  
  
 #save-btn{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    background-color: var(--darkblue);
    color: #fff;
    border: none;
  }

  #save-btn:hover{
    background-color: #3445ff;
  }