
.navsize{
    background-color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 

}
.logo-name{
    color: var(--darkblue);
    font-weight: bold;
}
.logo-name-next{
    color: var(--orange);
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.navbar-profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #E46232;
}
