.SideBar-container {
    height: 91vh;  /* Full height of the viewport */
    width: 250px;
    background-color: #ffffff;
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;  /* Ensures the content and button are aligned */
    justify-content: space-between;  /* Distributes space between items */
    font-family: 'Poppins', sans-serif;  /* Apply Poppins font to the whole app */
    

}

.SideBar-container * {
    margin: 0;
    padding: 0;
}

.SidebarList {
    margin-top: 20px;
    height: auto;
    width: 100%;
    list-style: none;
    padding: 0;
    flex-grow: 1;  /* Allows the list to grow and take up space, pushing the logout button to the bottom */
}

.sidebarRow {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    color: #161D6F;
    justify-content: start;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebarRow:hover {
    background-color: #e2e2e2;
}

.SideIcon {
    width: 25px; 
    height: 25px;
    margin-right: 10px;
}

.Logout-button {
    width: 50%;  
    height: 40px;
    padding: 0 40px;  
    background-color: #161D6F;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin: 0 auto; 
    margin-bottom: 20px; 
}

.Logout-button:hover {
    background-color: #363c88;
}


